:root {
	--primary: black;
	--secondary: #BBB;
	--shock: #4068ad;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1em;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* adjust height as needed */
}

.content {
	align-self: center;
}

div.main {
	width: 50vh;
	height: 30vh;
    display: flex; /* Added this to enable vertical centering in the box */
    align-items: center; /* This will center the content vertically */
}

img.profile {
	width: 30vh;
	border-radius: 25%;
	margin-right: 2vw;
}

h1.nametag {
	margin: 0;
	padding: 1vh 0 .2vh 0;
}


/*
UTILITY
 */
.unicode {
	font-family: 'Times New Roman', sans-serif;
}

.shock {
	color: var(--shock);
}
